body{
    background: rgb(245, 128, 128);

}

header{
    text-align: center;
}

header h1{
    color: white;
   
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .363);
}
section input{
    width: 60px;
    margin-right: 10px;
}
select{
    margin-top: 20px;
    width: 200px;
}